#Make sure to do below first if any error arises:
#pip uninstall torch torchvision torchaudio surya-ocr transformers


surya-ocr
Flask==3.1.1
flask_cors==5.0.1
Pillow==11.2.1

torch==2.7.1
torchvision
torchaudio

#https://github.com/VikParuchuri/surya